# Fichiers de configuration et dossiers
node_modules
npm-debug.log
.npm
.git
.gitignore
README.md
LICENSE
.vscode
.editorconfig
.env.example
.DS_Store

# Dossiers spécifiques au projet
build
dist
logs
tmp
